!-[Font Rendering]-----
Xft.lcdfilter:            lcdslight
Xft.antialias:            true
Xft.rgba:                 rgb
Xft.hinting:              true
Xft.hintstyle:            hintslight

!-[Fonts]----
URxvt.font:               xft:Ubuntu Mono:pixelsize=18:antialias=true
URxvt.boldFont:           xft:Ubuntu Mono:bold:pixelsize=18:antialias=true

!-[Personal Settings]----
URxvt.perl-lib:           ~/.config/urxvt/

!-[URxvt Settings]----
URxvt.cursorBlink:        1
URxvt.perl-ext-common:    default,matcher,clipboard,readline
URxvt.matcher.button:     1
URxvt.url-launcher:       /usr/bin/qutebrowser 
URxvt.keysym.Control-x:   perl:clipboard:copy
URxvt.keysym.Control-v:   perl:clipboard:paste
URxvt.keysym.Control-X-v: perl:clipboard:paste_escaped
URxvt.urlLauncher:        /usr/bin/dwb
URxvt.matcher.button:     1
URxvt.internalBorder:     15
!- URxvt.cursorUnderline:    true
!- URxvt.underlineColor:     white
URxvt.geometry:           85x25
URxvt.transparent:        false
URxvt.tintColor:          #000000
URxvt.scrollBar:          false
URxvt.letterSpacing:      -1
URxvt.intensityStyles:    false

! Cursor
Xcursor.theme:            OpenZoneWS
