snippet and "" w
&& $0
endsnippet

snippet or "" w
|| $0
endsnippet

snippet llt "" w
<< $0
endsnippet

snippet lte "" w
<= $0
endsnippet

snippet gte "" w
>= $0
endsnippet

snippet ggt "" w
>> $0
endsnippet

snippet ori "" w
|$1| $0
endsnippet
